[submodule "backEnd"]
	path = backEnd
	url = https://github.com/DevMatheusMonteiro/rocketmovies-backEnd.git

[submodule "frontEnd"]
	path = frontEnd
	url = https://github.com/DevMatheusMonteiro/rocketmovies-frontEnd.git
